<h1>Overview</h1>
<p>
This little tool will help you calculate the values needed to setup a NTC thermistor for an Arduino-like project. You don't have to use it with an Arduino, any other project where you need simmilar calculations would still find the content relevant, but for the sake of simplicity this guide will be geared towards an Arduino.
</p>

<h2>What can this tool do?</h2>
<p>
  The goal of this tool is to:
</p>
<ul>
  <li>Teach you how to configure a Thermistor circuit for an NTC</li>
  <li>Determine which static resistor to use when your device's Analog does not read up to your VCC voltage (e.g. ESP8266 only reads up to 1V)</li>
  <li>Teach you how to calculate Steinhart-hart coefficients for your NTC</li>
</ul>
<h2>Why this tool?</h2>
<p>I've been struggling to properly understand how to wire the circuit for a NTC analog temperature sensor, and calculating the Steinhart-hart coefficients seemed like a daunting task. I did look at many other tutorials online most of which just reference the Wikipedia page with the formulas but no real explanation why the are needed, what they do, and how to apply it to you project. I'm hoping by doing (yes ANOTHER tutorial) I could explain this better then the predecessors that attempted to explain it to a new guy.</p>

<h2>How to use this tool?</h2>
<p>This tool is an interactive website. This allows you to start off with an example pre-loaded on the screen with the explaination of what has been done, and allows you to insert your own values for your setup, and the page will update to reflect data relevant for you.</p>
